{% set username = comment.user.username %}

<div class="comment mb-5  text-gray-50 " id="comment-{{ comment.id }}">
    <div class="w-full text-left">
        <h5 class="">
            <a href="#">
                <span class="comment-author">{{ username }}</span>
            </a> {{ comment.createdAt|date('d M Y at H:i:s') }}
        </h5>
        <p>{{ comment.content }}</p>
    </div>
</div>