{% extends 'base.html.twig' %}

{% block title %} {{ category.name}} {% endblock %}

{% block body %}
<main class=" text-gray-50">
    <div class="">
        <div>
            <h3>{{ category.name }}</h3>
            <div id="article-list">
                {% include "article/list.html.twig" with { articles: articles, leftCol: 4, RightCol: 8 } %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
