<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="text-4xl bg-primary text-gray-50 ">
        <header class="flex justify-center">
            <nav class="w-64">
                <button class="dropDown block px-4 py-2 bg-gray-50 text-primary rounded-md">
                    Button Menu
                </button>
                <ul class="w-64 py-2 mt-2 bg-gray-50 text-primary rounded-md shadow-xl hidden">
                <li><a href="#" class="block px-4 py-2 hover:bg-primary hover:text-gray-50 dropDown">Tableau de bord</a></li>
                <li><a href="#" class="block px-4 py-2 hover:bg-primary hover:text-gray-50 dropDown" >Menu</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
