<div class="p-4">
    <h4>Categories</h4>
    <ol class="mb-0 text-gray-50">
        {% for category in categories %}
            <li>
                <a href="{{ path('category_show', { slug: category.slug }) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ol>
</div>