<div class="p-4">
    <h4>Categories</h4>
    <ol class="mb-0 text-gray-50">
        <li>
            <a href="">Tutorial C#</a>
        </li>
        <li>
            <a href="">Tutorial Symfony</a>
        </li>
    </ol>
</div>